body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.album_container {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.photo_container {
    margin: 10px;
    padding: 10px;
    background-color: rgb(243, 65, 0);
    max-width: calc(50% - 40px);
    flex-basis: 200px;
    flex-grow: 0.1;
    align-items: center;
}

.photos {
    display: block;
    height: 250px;
    width: 250px;
}